# Data Exploration & Cleaning

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
episodes_df = pd.read_csv('../data/interim_data/star_trek_episodes_scripts.csv', index_col=0)

In [10]:
episodes_df.head()

,series,production_number,episode_title,script_link,script
0,StarTrek,1,The Cage,http://www.chakoteya.net/StarTrek/1.htm,\n\n\n\n\n\nThe Star Trek Transcripts - The Ca...
1,StarTrek,6,The Man Trap,http://www.chakoteya.net/StarTrek/6.htm,\n\n\n\n\n\nThe Star Trek Transcripts - The Ma...
2,StarTrek,8,Charlie X,http://www.chakoteya.net/StarTrek/8.htm,\n\n\n\n\n\nThe Star Trek Transcripts - Charli...
3,StarTrek,2,Where No Man Has Gone Before,http://www.chakoteya.net/StarTrek/2.htm,\n\n\n\n\n\nThe Star Trek Transcripts - Where ...
4,StarTrek,7,The Naked Time,http://www.chakoteya.net/StarTrek/7.htm,\n\n\n\n\n\nThe Star Trek Transcripts - The Na...

In [17]:
print("Number of series in Dataset: ", episodes_df['series'].nunique())
print("Number of unique episode titles in Dataset: ", episodes_df['episode_title'].nunique())
print("Number of unique episode links in Dataset: ", episodes_df['script_link'].nunique())
print("Number of unique episode scripts in Dataset: ", episodes_df['script'].nunique())

Number of series in Dataset:  6
Number of unique episode titles in Dataset:  728
Number of unique episode links in Dataset:  728
Number of unique episode scripts in Dataset:  724

In [15]:
episodes_df[episodes_df.duplicated(['script'])]

,series,production_number,episode_title,script_link,script
493,Voyager,222,Basics\r\nPart II,http://www.chakoteya.net/Voyager/222.htm#To%20...,\n\n\n\n\n\nThe Voyager Transcripts - Basics\n...
518,Voyager,321,Scorpion\r\nPart 2,http://www.chakoteya.net/Voyager/321.htm#To%20...,\n\n\n\n\n\nThe Voyager Transcripts - Scorpion...
567,Voyager,525,Equinox\r\nPart 2,http://www.chakoteya.net/Voyager/525.htm#To%20...,\n\n\n\n\n\nThe Voyager Transcripts - Equinox\...
593,Voyager,625,Unimatrix\r\nZero Part II,http://www.chakoteya.net/Voyager/625.htm#To%20...,\n\n\n\n\n\nThe Voyager Transcripts - Unimatri...

Continued episodes link to the same script.

In [ ]:
# Change title of first part episodes into part I & II

In [ ]:
# Remove duplicate episodes

In [ ]:
# Episode Title
# remove space at beginning/end of title
# replace \r\n with space

In [ ]:
# Script
# rm multiple newline \n\n\n\n\n\n
# rm The Star Trek Transcripts - 
# replace \r\n with space

Text in Script to remove later:

The Star Trek Transcripts

<Back
to the episode listing
Star
Trek ® is copyright of  CBS
Studios Inc. Copyright © 1966, Present.
The Star Trek web pages on this site are for educational and
entertainment purposes only. All other copyrights property of their
respective holders.